$dark-blue: #383b70;
$dark-blue2: #272b77;
$white: #fff;
$gray: #505565;
$gray-dark: #343a40;
$bg-sub: #0a183d;
$danger: #fc0254;
$red: #9c093a;
$black: #000;
$dark: #343a40;
$bg-header: #08192d;
$text: #6a7080;
$text-h5: #0a183d;
$bg-sub-list: #1c294a;
